$navcolor: #a1bcd8;
$jumbcolor: #e9ecef;
$jumbtext: #212529;
$blockbackground:#f6f4f5;
$blockborder:#6e819e;
$infoHcolor:#213451;
$infoPcolor:#23282d;
$blockquotecolor:#212529;
$citecolor:#6c757d;
$cardcolor:white;
$linkcolor:#007bff;
$lvisit:#007bff;
$lhover:#a0c6ff;
$lactive:#e847ea;
$jcolor: #f6f4f5;
