$navcolor: #1e0f1c;
$jumbcolor: #224263;
$jumbtext: whitesmoke;
$blockbackground:#462d4e;
$blockborder:#6e819e;
$infoHcolor:wheat;
$infoPcolor:white;
$blockquotecolor:#dde3e8;
$citecolor:#a9baca;
$cardcolor:#717784;
$linkcolor:#007bff;
$lvisit:#e847ea;
$lhover:#a0c6ff;
$lactive:#e847ea;
$jcolor: #f6f4f5;


